<html>
    <body>
        <h1>Cadastro de livros</h1>

        <form action="/books" method="post">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="title">Titulo:</label>
                <input type="text" id="title" name="title" placeholder="coloque o titulo" />
            </div>
            <div>
                <label for="price">Preço:</label>
                <input type="text" id="price" name="price" placeholder="150.25" />
            </div>
            <div>
                <label for="description">Descrição:</label>
                <textarea cols="20" rows="10"  id="description" name="description" placeholder="fale sobre o livro"></textarea>
            </div>

            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>